.container{
  border: 2px solid black;
}
#myleft{
	border: 1px solid black;
}
#myright{
	border: 1px solid black;
}
 .btn-default {
      box-shadow: 1px 2px 5px #000000;  
  }
#left11{
	border: 1px solid black;
	height: 300px;
}
#left10{
border: 1px solid black;
height: 300px;
}
#right1{
  border: 1px solid black;
  text-align: center;
  height: 50px;
}
table, th, td {
    border: 1px solid black;
}
#right2{
  border: 1px solid black;
  text-align: justify;
  height: 480px;
}
#right3{
  border: 1px solid black;
  /*text-align: center;*/
}
#left2{
	border: 1px solid black;
	text-align: center;
	height: 370px;
}
#left4{
	border: 1px solid black;
	height: 100px;
	text-align: center;
}
#left3{
	border: 1px solid black;
	height: 95px;
}
h2{
	text-align: center;
}

img{
	opacity: 1;
}
.responsive{
	/*width: 100%;*/
	height: auto;
}
#number{
	width: 50px;
}
span{
	float: right
	/*height:10px;*/
}
